@import 'assets/styles/colors';


.loading-time{
  position: absolute;
  top: 30%;
  left: 45%;
}
.explore-container{
  overflow: auto;
}
.janner-navigation-header{
  width: 100%;
  height: 55px;
  background-color: $mainGray;
  display: flex;
  position: fixed;
  top: 66px;
  left: 0;
  z-index: 100;
}
.h2-genre-nav{
  align-self: center;
  font-size: 23px;
  margin-left: 10px;
}
.janner-navigation{
  width: 90%;
  height: 100%;
  list-style: none;
  color: #FFFFFF;
  display: flex;
  margin: 0;
}
.janner-navigation-li{
  padding: 0 0 0 70px;
  line-height: 55px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.selected-genre{
  line-height: 55px;
  padding: 0 10px;
}
.janner-navigation-a{
  font-weight: 300;
  text-transform: capitalize;
  color: #000000;
  align-self: center;
  //min-width: 70px;
  //padding-left: 20px;
}
.genre-title{
  font-size: 23px;
  margin-left: 10px;
  padding-left: 80px;
  text-transform: capitalize;
  margin-top: 80px;
}
