@import 'assets/styles/colors';

.loading-time {
  position: absolute;
  top: 30%;
  left: 45%;
}

.explore-container {
  overflow: auto;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.page-navigation-btn {
  width: 87px;
  height: 30px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
}

.previous-btn {
  margin-right: 60px;
  color: #FFFFFF;
  border: none;
}

.previous-btn-not-first-page {
  margin-right: 60px;
  color: #FFFFFF;
  background-color: $mainBlue;
}

.page-number {
  align-self: center;
  font-size: 14px;
}

.next-btn {
  margin-left: 60px;
  color: #FFFFFF;
  background-color: $mainBlue;
}
