@import 'assets/styles/colors';

//---------------player-------------
footer {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
}

.footer-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $mainGray;
  height: 80px;
}

.song-details-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  list-style: none;
  width: 30%;
}

.img-area {
  align-self: center;
}

.song-title {
  align-self: center;
}

.img-player {
  align-self: center;
  width: 50px;
  height: 50px;
  border: 0;
  margin: {
    right: 10px;
    left: 20px;
  }
}

.player-area {
  display: flex;
  align-self: center;
  width: 70%;
  height: 60px;
  padding-left: 50px;
}

.player-tool {
  align-self: center;
  width: 60%;
}
.display-none{
  display: none;
}
