//* {
//  border: 1px solid red;
//}
a:link,
a:visited{
  outline: none;
}

a:hover,
a:focus{
  outline: none;
}

a:active{
  outline: none;
}

a{
  text-decoration: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
}

//-----------header-----------

.header{
  width: 100%;
  height: 66px;
  border-bottom: 2px solid black;
}
.navigation{
  width: 100%;
  height: 66px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  vertical-align: middle;
  background-color: #2196F3;
}
.logo-area{
  display: flex;
  justify-content: center;
  height: 66px;
  background-color: #2196F3;
  color: white;
  width: 20%;
  border-bottom: 2px solid black;
}
.logo {
  height: 100%;
  width: 100%;
  display: flex;
}
.logo-img-header{
  border-color: inherit;
  align-self: center;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-left: 20px;
}
.songcloud-logo{
  align-self: center;
  margin-left: 20px;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.4rem;
}
.navigation-list{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  list-style: none;
  color: white;
  font-size: 1.4rem;
  margin: 0 20px;
  padding: 0;
}
.navigation-item{
  margin-right: 30px;
  height: 66px;
  display: flex;
}
.navigation-item:focus{
  border-color: black;
}
.navigation-item-link{
  color: white;
  align-self: center;
  line-height: 66px;
}
.search-song-area{
  position: relative;
  height: 100%;
  display: flex;
  color: #FFFFFF;
  width: 15%;
  //height: 33px;
  //align-self: center;
  //margin-right: 70px;
  //border-radius: 4px;
  //padding: 0 0 0 10px;
  //background-color: black;
  //color: #FFFFFF;
  //font-weight: 400;
  //border-color: black;
}

.search-song{
  height: 22px;
  align-self: center;
  margin-right: 50px;
  border-radius: 20px;
  padding: 4px 0 4px 30px;
  background-color: #1E88E5;
  font-weight: 400;
  color: #FFFFFF;
  border: 1px solid #D8D8D8;
}
.search-song:focus{
  border-radius: 19px;
}
.search-icon{
  background-color: #1E88E5;
  position: absolute;
  left: 12px;
  top: 27px;
  color: #FFFFFF;
  font-size: 0.8rem;
}
.log-out-btn{
  height: 22px;
  border: 2px solid #FFFFFF;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 7px;
  align-self: center;
}
.log-out-btn:focus{
  outline-color: black;
}
//----------------explor-----------

.janner-navigation-header{
  width: 100%;
  height: 55px;
  background-color: #DDE4E6;
  display: flex;
}
.janner-navigation{
  width: 90%;
  height: 22px;
  list-style: none;
  color: #FFFFFF;
  display: flex;
}
.janner-navigation-li{
  padding: 0 10px;
  border-left: 2px solid fuchsia;
  border-right: 2px solid fuchsia;
}
.janner-navigation-a{
  color: #FFFFFF;
  line-height: 22px;
}

.genre-title{
  font-size: 23px;
  margin-left: 10px;
}
//----------signup--------------------
.main-signup{
  margin: 70px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo-area-signup{
  font-size: 150px;
  color: #2196F3;
  align-self: center;
}

.signup-h1{
  color: #2196F3;
  align-self: center;
  font-size: 4rem;
  margin: 0;
}

.create-account-area{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  overflow: hidden;
}
.signup-h2{
  font-size: 2rem;
  text-transform: capitalize;

}
.user-details{
  color: #2196F3;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.user-details-input{
  border: none;
  border-bottom: 3px solid #2196F3;
  width: 100%;
  margin-bottom: 60px;
  font-size: 1.2rem;
  padding: 5px;
  text-transform: capitalize;
}
.user-details-input:active{
  border: none;
  border-bottom: 3px solid #2196F3;
}
.continue-btn{
  background-color: #2196F3;
  align-self: center;
  color: white;
  height: 30px;
  width: 87px;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}
.is-there-an-account{
  align-self: center;
  display: flex;
  padding-top: 30px;
}
.is-there-an-account-question{
  color: black;
  font-weight: 400;
}
.is-there-an-account-signin {
  color: #2196F3;
  margin-left: 10px;
  text-transform: capitalize;
}
//-------------signin-----------
.main-signin{
  margin: 70px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.logo-area-signin{
  font-size: 150px;
  color: #2196F3;
  align-self: center;
}
.signin-h1{
  color: #2196F3;
  align-self: center;
  font-size: 4rem;
  margin: 0;
}
.signin-area{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  overflow: hidden;
}
.signin-h2{
  font-size: 2rem;
  text-transform: capitalize;
}
.is-there-an-account-create-acount{
  color: #2196F3;
  margin-left: 10px;
  text-transform: capitalize;
}

//--------------------create-song-list-------
.genre-div{
  display: flex;
  //flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.song-card{
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 140px;
  margin-bottom: 40px;
  margin-right: 90px;
  border: 1px solid #D8D8D8;
  background:  #FFFFFF;
}
.img-holder{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  position: relative;
}
.song-img{
  align-self: center;
  width: 200px;
  height: 80px;
}
.play-btn-on-card{
  font-size: 1.4rem;
  color: #FFFFFF;
  position: absolute;
  top: 42%;
  left: 44%;
  display: none;
}
.img-holder:hover .play-btn-on-card{
  display: block;
}
.song-details{
  padding-left: 10px;
  position: relative;
  margin-bottom: 4px;
}
.song-name{
  font-size: 0.6rem;
}
.song-length-icon{
  font-size: 0.6rem;
}
.song-length{
  font-size: 0.6rem;
}
.song-like{
  position: absolute;
  top: 60%;
  right: 5%;
}

.page-navigation{
  display: flex;
  flex-direction:row;
  justify-content:center;
  width: 100%;
}

.page-navigation-btn{
  width: 87px;
  height: 30px;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
}
.previous-btn{
  margin-right: 60px;
}

.page-number{
  align-self: center;
  font-size:  14px;
}

.next-btn{
  margin-left: 60px;
}

