@import 'assets/styles/colors';

//----------------songs-------
.genre-div{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 80px;
}
