@import 'assets/styles/colors';

//----------------songs-------
.songs-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 106px;
}
