@import 'assets/styles/colors';

//----------------song-------
.song-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 140px;
  margin-bottom: 40px;
  margin-right: 50px;
  border: 1px solid #D8D8D8;
  background: #FFFFFF;
}

.img-holder {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-top: 10px;
}

.song-img {
  align-self: center;
  width: 91%;
  height: 100%;
  background-position: 0 50%;
  background-size: cover;
}

.play-btn-on-card {
  font-size: 4.4rem;
  color: #FFFFFF;
  position: absolute;
  top: 15%;
  left: 37%;
  display: block;
}

.img-holder:hover .play-btn-on-card {
  display: block;
}

.pause-btn-on-card {
  font-size: 4.4rem;
  color: #FFFFFF;
  position: absolute;
  top: 15%;
  left: 37%;
  display: block;
}

.song-details {
  padding-left: 10px;
  position: relative;
  margin-bottom: 4px;
}

.song-name {
  font-size: 0.6rem;
}

.song-length-icon {
  font-size: 0.6rem;
}

.song-length {
  font-size: 0.6rem;
}

.song-like {
  position: absolute;
  top: 60%;
  right: 5%;
  font-size: 0.875rem;
  color: #1e88e5;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: black;
  }
  &:active {
    color: $mainBlue;
  }
}

.blue-heart {
  color: $mainBlue;
}

.song-dropdown {
  position: absolute;
  bottom: -130px;
  right: 10px;
  z-index: 200;
  background-color: #FFFFFF;
  width: 130px;
  height: 110px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.dropdown-headers {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 5px;
}

.create-song-dropdown {
  font-size: 0.5625rem;
  font-weight: 600;
  color: $mainBlue;
  background: white;
  border: none;
  cursor: pointer;
}

//--------------------------------

