@import 'assets/styles/colors';

//-----------header-----------

.header {
  width: 100%;
  height: 66px;
  position: fixed;
  z-index: 100;
}

.navigation {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  vertical-align: middle;
  background-color: $mainBlue;
}

.logo-area {
  display: flex;
  justify-content: center;
  height: 66px;
  background-color: $mainBlue;
  color: white;
  width: 20%;
}

.logo {
  height: 100%;
  width: 100%;
  display: flex;
}

.logo-img-header {
  border-color: inherit;
  align-self: center;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-left: 20px;
}

.songcloud-logo {
  align-self: center;
  margin-left: 20px;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.4rem;
}

.navigation-list {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 0;
}

.navigation-item {
  padding-left: 20px;
  height: 66px;
  display: flex;
}

.navigation-item:focus {
  border-color: black;
}

.navigation-item-link {
  color: white;
  align-self: center;
  line-height: 66px;
  width: 100px;
  text-align: center;
}

.topbar-right-area {
  height: 100%;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  color: #FFFFFF;
  width: 45%;
}

.search-area {
  height: 100%;
  display: flex;
  position: relative;
}

.search-song {
  height: 22px;
  align-self: center;
  margin-right: 50px;
  border-radius: 20px;
  padding: 4px 0 4px 30px;
  background-color: $darkenBlue;
  font-weight: 400;
  color: #FFFFFF;
  border: 2px solid #D8D8D8;
  cursor: pointer;
}

.search-song:focus {
  border-radius: 19px;
}

.search-song::placeholder {
  color: white;
}

.search-icon {
  background-color: $darkenBlue;
  position: absolute;
  left: 5%;
  top: 27px;
  color: #FFFFFF;
  font-size: 0.8rem;
  cursor: pointer;
}

.log-out-btn {
  height: 22px;
  border: 2px solid #FFFFFF;
  background-color: $mainBlue;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 7px;
  align-self: center;
  cursor: pointer;
}

.log-out-btn:focus {
  outline-color: black;
}
