@import 'assets/styles/colors';

//----------signup--------------
.main-signup {
  margin: 70px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo-area-signup {
  font-size: 150px;
  color: $mainBlue;
  align-self: center;
}

.signup-h1 {
  color: $mainBlue;
  align-self: center;
  font-size: 4rem;
  margin: 0;
}

.create-account-area {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  overflow: hidden;
}

.signup-h2 {
  font-size: 2rem;
  text-transform: capitalize;

}

.user-details {
  color: $mainBlue;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.user-details-input {
  border: none;
  border-bottom: 3px solid $mainBlue;
  width: 100%;
  margin-bottom: 60px;
  font-size: 1.2rem;
  padding: 5px;
  text-transform: capitalize;
}

.user-details-input:active {
  border: none;
  border-bottom: 3px solid $mainBlue;
}

.continue-btn {
  background-color: $mainBlue;
  align-self: center;
  color: white;
  height: 30px;
  width: 87px;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.is-there-an-account {
  align-self: center;
  display: flex;
  padding-top: 30px;
}

.is-there-an-account-question {
  color: black;
  font-weight: 400;
}

.is-there-an-account-signin {
  color: $mainBlue;
  margin-left: 10px;
  text-transform: capitalize;
}
